# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

print("Original column names:", df.columns)

df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state')

print("Modified column names:", df.columns)

Original column names: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Modified column names: Index(['custateomer', 'state', 'gender', 'education',
       'custateomer_lifetime_value', 'income', 'monthly_premium_auto',
       'number_of_open_complaints', 'policy_type', 'vehicle_class',
       'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [5]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

print("Original column names:", df.columns)

gender_map = {
    'F': 'F', 'Femal': 'F', 'female': 'F',
    'M': 'M', 'Male': 'M', 'male': 'M'
}
df['GENDER'] = df['GENDER'].replace(gender_map)

state_map = {
    'AZ': 'Arizona',
    'Cali': 'California',
    'WA': 'Washington'
}
df['ST'] = df['ST'].replace(state_map)

education_map = {
    'Bachelors': 'Bachelor'
}
df['Education'] = df['Education'].replace(education_map)

df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '').astype(float)

vehicle_class_map = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}
df['Vehicle Class'] = df['Vehicle Class'].replace(vehicle_class_map)

print(df.head())

Original column names: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                697953.59
2  AI49188      Nevada      F              Bachelor               1288743.17
3  WW63253  California      M              Bachelor                764586.18
4  GA49547  Washington      M  High School or Below                536307.65

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [9]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

def extract_complaints(x):
    if isinstance(x, str) and '/' in x:
        return int(x.split('/')[1])
    return 0

df['Number of Open Complaints'] = df['Number of Open Complaints'].apply(extract_complaints)

print("Updated data types:\n", df.dtypes)

print(df.head())

Updated data types:
 Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints      int64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object
  Customer          ST GENDER             Education  Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                      NaN
1  QZ44356     Arizona      F              Bachelor                      NaN
2  AI49188      Nevada      F              Bachelor                      NaN
3  WW63253  California      M              Bachelor                      NaN
4  GA49547  Washington      M  High School or Below                      NaN

    Income  Monthly Premium Auto  Number of Open Complaints     Policy Type  \
0      0.0                1000.0                          0   Personal Auto
1      0.0                  94.0                          0   Personal Auto
2  48767.0                 108.0                          0   Personal Auto
3      0.0                 106.0                          0  Corporate Auto
4  36357.0                  68.0                          0   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [19]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

df.columns = df.columns.str.lower().str.replace(' ', '_')

df.rename(columns={'st': 'state'}, inplace=True)

print("Modified column names:", df.columns)

try:
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'].str.replace('%', ''), errors='coerce')

    def extract_complaints(x):
        if isinstance(x, str) and '/' in x:
            return int(x.split('/')[1])
        return 0
    
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(extract_complaints)

    gender_map = {'F': 'F', 'Femal': 'F', 'female': 'F', 'M': 'M', 'Male': 'M', 'male': 'M'}
    df['gender'] = df['gender'].replace(gender_map)

    state_map = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
    df['state'] = df['state'].replace(state_map)

    education_map = {'Bachelors': 'Bachelor'}
    df['education'] = df['education'].replace(education_map)

    vehicle_class_map = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
    df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_map)

    print("Null values in each column before handling:\n", df.isnull().sum())

    df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())
    df['income'] = df['income'].fillna(df['income'].median())
    df['monthly_premium_auto'] = df['monthly_premium_auto'].fillna(df['monthly_premium_auto'].median())
    df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0)
    df['total_claim_amount'] = df['total_claim_amount'].fillna(df['total_claim_amount'].median())

    df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
    df['education'] = df['education'].fillna('Unknown')

    numeric_cols = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount']
    df[numeric_cols] = df[numeric_cols].astype(int)

    print("Null values in each column after handling:\n", df.isnull().sum())

    print(df.head())

except KeyError as e:
    print(f"Error: {e}. Please check column names.")

Modified column names: Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Null values in each column before handling:
 customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64
Null values in each column after handling:
 customer                     2937
state                        2937
gender                          0
education                       0
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                  2937
vehicle_class                2937
total_claim_amount              0
dtype: int64
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington      F                Master                   793690
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [21]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

df.columns = df.columns.str.lower().str.replace(' ', '_')

df.rename(columns={'st': 'state'}, inplace=True)

duplicates = df.duplicated()
print("Number of duplicate rows before handling:", duplicates.sum())

df_cleaned = df.drop_duplicates()

df_cleaned.reset_index(drop=True, inplace=True)

duplicates_after = df_cleaned.duplicated()
print("Number of duplicate rows after handling:", duplicates_after.sum())

df_cleaned.to_csv('cleaned_file.csv', index=False)

print(df_cleaned.head())

Number of duplicate rows before handling: 2936
Number of duplicate rows after handling: 0
  customer       state gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [25]:
import pandas as pd

def standardize_column_names(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df.rename(columns={'st': 'state'}, inplace=True)
    return df

def clean_data_types(df):
    df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'].str.replace('%', ''), errors='coerce')
    df['number_of_open_complaints'] = df['number_of_open_complaints'].apply(lambda x: int(x.split('/')[1]) if isinstance(x, str) and '/' in x else 0)
    return df

def handle_inconsistent_values(df):
    gender_map = {'F': 'F', 'Femal': 'F', 'female': 'F', 'M': 'M', 'Male': 'M', 'male': 'M'}
    df['gender'] = df['gender'].replace(gender_map)
    
    state_map = {'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'}
    df['state'] = df['state'].replace(state_map)
    
    education_map = {'Bachelors': 'Bachelor'}
    df['education'] = df['education'].replace(education_map)
    
    vehicle_class_map = {'Sports Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Luxury Car': 'Luxury'}
    df['vehicle_class'] = df['vehicle_class'].replace(vehicle_class_map)
    
    return df

def handle_missing_values(df):
    df['customer_lifetime_value'] = df['customer_lifetime_value'].fillna(df['customer_lifetime_value'].mean())
    df['income'] = df['income'].fillna(df['income'].median())
    df['monthly_premium_auto'] = df['monthly_premium_auto'].fillna(df['monthly_premium_auto'].median())
    df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna(0)
    df['total_claim_amount'] = df['total_claim_amount'].fillna(df['total_claim_amount'].median())
    df['gender'] = df['gender'].fillna(df['gender'].mode()[0])
    df['education'] = df['education'].fillna('Unknown')
    return df

def deduplicate_data(df):
    df = df.drop_duplicates()
    df.reset_index(drop=True, inplace=True)
    return df

def main():
    url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
    df = pd.read_csv(url)

    df = standardize_column_names(df)
    df = clean_data_types(df)
    df = handle_inconsistent_values(df)
    df = handle_missing_values(df)
    df = deduplicate_data(df)

    numeric_cols = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount']
    df[numeric_cols] = df[numeric_cols].astype(int)

    df.to_csv('cleaned_file.csv', index=False)
    print("Data cleaning complete. Cleaned data saved to 'cleaned_file.csv'.")
    print(df.head())

if __name__ == "__main__":
    main()

Data cleaning complete. Cleaned data saved to 'cleaned_file.csv'.
  customer       state gender             education  customer_lifetime_value  \
0  RB50392  Washington      F                Master                   793690
1  QZ44356     Arizona      F              Bachelor                   697953
2  AI49188      Nevada      F              Bachelor                  1288743
3  WW63253  California      M              Bachelor                   764586
4  GA49547  Washington      M  High School or Below                   536307

   income  monthly_premium_auto  number_of_open_complaints     policy_type  \
0       0                  1000                          0   Personal Auto
1       0                    94                          0   Personal Auto
2   48767                   108                          0   Personal Auto
3       0                   106                          0  Corporate Auto
4   36357                    68                          0   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car                   2
1  Four-Door Car                1131
2   Two-Door Car                 566
3            SUV                 529
4  Four-Door Car                  17

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [31]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)

df.columns = df.columns.str.lower().str.replace(' ', '_')

df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'].str.replace('%', ''), errors='coerce')
df['total_claim_amount'] = pd.to_numeric(df['total_claim_amount'], errors='coerce')

claim_amount_75th = df['total_claim_amount'].quantile(0.75)
customer_lifetime_25th = df['customer_lifetime_value'].quantile(0.25)

high_claim_low_lifetime_df = df[(df['total_claim_amount'] > claim_amount_75th) &
                                (df['customer_lifetime_value'] < customer_lifetime_25th)]

summary_stats = high_claim_low_lifetime_df[['total_claim_amount', 'customer_lifetime_value']].describe()

print("Summary statistics for high claim amount and low customer lifetime value customers:\n", summary_stats)

Summary statistics for high claim amount and low customer lifetime value customers:
        total_claim_amount  customer_lifetime_value
count           40.000000                40.000000
mean           723.776577            341577.910000
std            149.280606             56921.472027
min            537.600000            228759.690000
25%            633.378846            304220.875000
50%            685.284189            365995.370000
75%            799.200000            387364.700000
max           1185.988301            402381.440000